.admin-wrapper {
    max-width: 800px;
    margin: auto;
    padding: 2rem;
  }

  .admin-form{
    width: 30%;
  }
  
  .admin-form input,
  .admin-form textarea,
  .admin-form select,
  .admin-form button {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
  }
  
  .admin-table {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
  }
  
  .admin-table th,
  .admin-table td {
    border: 1px solid #ddd;
    padding: 0.5rem;
  }
  
  .admin-table th {
    background: #f4f4f4;
  }
  
  .admin-content{
    display: flex;
    gap: 20px;
    width: 60%;
  }