.admin-wrapper {
    width: 100%;
    margin: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .admin-form{
    width: 40%;
  }
  
  .admin-form input,
  .admin-form textarea,
  .admin-form select,
  .admin-form button {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
  }
  
  .admin-table {
    margin-top: 2rem;
    border-collapse: collapse;
    width: 60%
  }
  
  .admin-table th,
  .admin-table td {
    border: 1px solid #ddd;
    padding: 0.5rem;
  }
  
  .admin-table th {
    background: #f4f4f4;
  }
  
  .admin-content{
    display: flex;
    gap: 20px;
    width: 70%;
    margin-top: 30px;
  }
  .actions{
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .actions button{
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  .actions .deleteBtn{
    background-color: #c70909;
    color: var(--primary);
  }
  .actions .visible{
    background-color: var(--secondary);
    color: var(--primary);
  }
  .actions .editBtn{
    background-color: var(--btn);
    color: var(--primary);
  }


  @media (max-width: 768px) {
    .admin-content{
      flex-direction: column;
      width: 100%;
    }
    .admin-form{
      width: 100%;
    }
    .admin-table{
      width: 100%;
    }
  }