/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playwrite+DK+Loopet:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary: #fff;
  --secondary: #333;
  --btn: #046daa;
  --creamy: #f0f0f0;
}

body{
  font-family: "Poppins", sans-serif;
}

#root{
  height: 100vh;
  display: flex;
  background-color: var(--primary);
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
}
input:focus{
  outline: none;
}

.page-wrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  width: 40%;
}

.logo{
  font-size: 40px;
  font-weight: 500;
  font-family: "Playwrite DK Loopet", cursive;
  font-optical-sizing: auto;
  text-align: center;
  color: var(--secondary);
}
.title{
  font-size: 25px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
}

.main-section{
  border: 2px solid var(--secondary);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.filter-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-section input{
  border: 1px solid var(--secondary);
  padding: 10px;
  width: 300px;
  font-size: 18px;
  border-radius: 30px;
}
.categories{
  display: flex;
  gap: 5px;
}
.categories button{
  border: none;
  color: var(--secondary);
  font-size: 16px;
  border-radius: 40%;
  text-transform: capitalize;
  padding: 10px;
  background-color: var(--primary);
  font-weight: 500;
}

.menu-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  gap: 5px;
  height: 70vh;
  overflow-y: auto;
  scrollbar-width: none;
}
form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 400px;
}

form input, form select, form textarea {
  padding: 8px;
  font-size: 1rem;
}


.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.spinner {
  border: 5px solid #eee;
  border-top: 5px solid #333;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin-bottom: 1rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media (max-width: 768px) {
  #root{
    align-items: start;
  }
  .page-wrapper{
    width: 100%;
    padding: 0;
  }
  .main-section{
    gap: 10px;
    border: none;
    padding: 10px;
  }
  .filter-section{
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
  }
  .filter-section input{
    width: 100%;
  }
  .menu-list{
    grid-template-columns: repeat(2, 1fr);
  }
} */