*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary: #fff;
  --secondary: #333;
  --btn: #046daa;
  --creamy: #f0f0f0;
}

#root{
  height: 100vh;
  display: flex;
  background-color: var(--primary);
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
}
input:focus{
  outline: none;
}

.page-wrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  width: 40%;
}

.logo{
  font-size: 40px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  color: var(--secondary);
}
.title{
  font-size: 25px;
  text-align: center;
}

.main-section{
  border: 2px solid var(--secondary);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.filter-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-section input{
  border: 1px solid var(--secondary);
  padding: 10px;
  width: 300px;
  font-size: 18px;
  border-radius: 30px;
}
.categories{
  display: flex;
  gap: 5px;
}
.categories button{
  border: none;
  background-color: var(--btn);
  color: var(--primary);
  font-size: 16px;
  border-radius: 40%;
  text-transform: capitalize;
  padding: 10px;
}

.menu-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  gap: 5px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 400px;
}

form input, form select, form textarea {
  padding: 8px;
  font-size: 1rem;
}


@media (max-width: 768px) {
  #root{
    align-items: start;
  }
  .page-wrapper{
    width: 100%;
  }
  .main-section{
    gap: 10px;
    border: none;
  }
  .filter-section{
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
  }
  .filter-section input{
    width: 100%;
  }
  .menu-list{
    display: flex;
    flex-direction: column;
  }
}